<script setup lang="ts">
import router from '@/router'
import { useInvoiceStore } from '@/stores/invoice'
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'

const InvoiceStore = useInvoiceStore()
const route = useRoute()
const residentId = parseInt(route.params.id + '')
onMounted(async () => {
  await InvoiceStore.getInvoices()
})

const toResidentInfo = () => {
  router.push('/resident/' + residentId)
  InvoiceStore.cancelDialog = false
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="InvoiceStore.cancelDialog" persistent max-width="350">
      <v-card width="500" style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%"> ออกจากหน้าชำระเงิน </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="padding-top: 5%; padding-bottom: 5%">
          คุณแน่ใจหรือไม่ที่จะออกจากหน้าการชำระเงินค่าส่วนกลาง
        </v-card-text>
        <small style="color: red; text-align: center"
          >*หากคุณไม่ชำระค่าส่วนกลางเกินกำหนดอาจจะมีค่าปรับตามมาตามระยะเวลา</small
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="InvoiceStore.cancelDialog = false">
            ยกเลิก
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="toResidentInfo()"> ยืนยัน </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
