<script setup lang="ts">
import { ref } from 'vue'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'
import { useInvoiceStore } from '@/stores/invoice'

const InvoiceStore = useInvoiceStore()
const form = ref<VForm | null>(null)
onMounted(async () => {
  await InvoiceStore.getInvoices()
})

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    InvoiceStore.createInvDialog = false
    await InvoiceStore.saveInvoice()
  }
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="InvoiceStore.createInvDialog" persistent max-width="450">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%">
          เพิ่มข้อมูลใบแจ้งชำระเงินค่าส่วนกลาง
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="ปี*"
                    v-model="InvoiceStore.editedInvoice.year"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูล ปีที่ต้องการเพิ่มใบแจ้งชำระเงินค่าส่วนกลาง'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="InvoiceStore.createInvDialog = false">
            ยกเลิก
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> ยืนยัน </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
