<script setup lang="ts">
import router from '@/router'
import { useInvoiceStore } from '@/stores/invoice'
import { useReceiptStore } from '@/stores/receipt'
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'

const ReceiptStore = useReceiptStore()
const InvoiceStore = useInvoiceStore()
const route = useRoute()
const residentId = parseInt(route.params.id + '')

onMounted(async () => {
  await InvoiceStore.getInvoices()
})

const toResidentInfo = () => {
  router.push('/resident/' + residentId)
  ReceiptStore.payDialog = false
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="ReceiptStore.payDialog" persistent max-width="600">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%"> การชำระเงินเสร็จสิ้น </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="padding-top: 5%; padding-bottom: 5%">
          การชำระเงินเสร็จสิ้น
          เมื่อเจ้าหน้าที่จะทำการตรวจสอบสลิปเงินและอัพเดทสถานะการชำระเงินเรียบร้อยแล้วสามารถตรวจสอบใบเสร็จได้จากหน้าข้อมูลของฉัน
        </v-card-text>
        <small style="color: red; text-align: center"
          >*หากภายใน 3 วันยังไม่สามารถตรวจสอบใบเสร็จได้กรุณาติดต่อเจ้าหน้าที่นิติบุคคล</small
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="toResidentInfo()"> ตกลง </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
