<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref } from 'vue'
import { onMounted } from 'vue'
import LoadingDialog from '@/components/LoadingDialog.vue'
import router from '@/router'

const authStore = useAuthStore()
const name = ref('')
const username = ref('')
const role = ref('')
const id = ref('')
const residentId = ref('')
onMounted(async () => {
  name.value = localStorage.getItem('name')
  username.value = localStorage.getItem('username')
  role.value = localStorage.getItem('role')
  id.value = localStorage.getItem('id')
})
const logout = () => {
  authStore.logout()
}

const toSetting = () => {
  router.replace('/account-settings/' + id.value)
}

const toMyHome = () => {
  residentId.value = localStorage.getItem('residentId')
  router.replace('/resident/' + residentId.value)
}
</script>

<template>
  <v-layout>
    <v-navigation-drawer class="bg-light-green-darken-4" expand-on-hover rail location="left"
      style="font-family: 'Prompt'">
      <v-list-item
        prepend-avatar="https://cdn.discordapp.com/attachments/746298215124697181/1100258744455155832/manami.png"
        :title="name" :subtitle="username" style="font-size: 50px; margin-top: 5%; margin-bottom: 5%" nav>
      </v-list-item>
      <v-divider></v-divider>
      <v-list v-if="role !== '3'" density="compact" nav>
        <v-list-item prepend-icon="mdi-home" to="/">Home</v-list-item>
        <v-list-item v-if="role == '1'" prepend-icon="mdi-account-box-outline" to="/juristic">Juristic</v-list-item>
        <v-list-item prepend-icon="mdi-account-group" to="/residents">Resident</v-list-item>
        <v-list-item prepend-icon="mdi-receipt-text-plus" to="/invoice-management">Invoice</v-list-item>
        <v-list-item prepend-icon="mdi-receipt-text-check" to="/receipt-management">Receipt</v-list-item>
        <v-list-item prepend-icon="mdi-currency-usd" to="/cost-receipt">Cost</v-list-item>
        <v-list-item v-if="role == '1'" prepend-icon="mdi-monitor" to="/log">Log</v-list-item>
        <v-list-item prepend-icon="mdi-account-cog" @click="toSetting()">Account</v-list-item>
        <v-list-item prepend-icon="mdi-logout" @click="logout()">Logout</v-list-item>
      </v-list>
      <v-list v-else density="compact" nav>

        <v-list-item prepend-icon="mdi-home-account" @click="toMyHome()">MyHome</v-list-item>
        <v-list-item prepend-icon="mdi-account-cog" @click="toSetting()">Account</v-list-item>
        <v-list-item prepend-icon="mdi-logout" @click="logout()">Logout</v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- <v-app-bar class="bg-green-lighten-3 bg">
      <v-app-bar-nav-icon v-if="drawer === false" variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    </v-app-bar> -->
    <v-main class="bg-yellow-lighten-4">
      <RouterView></RouterView>
    </v-main>
  </v-layout>
  <LoadingDialog />
</template>

<style>
@media (min-width: 1024px) {
  .home {
    min-height: 100vh;
    align-items: center;
    font-family: 'Prompt';
  }
}
</style>
