<script setup lang="ts">
import { useHouseStore } from '@/stores/house'
import { useResidentStore } from '@/stores/resident'
import { ref } from 'vue'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

const residentStore = useResidentStore()
const houseStore = useHouseStore()
const houses = ref([])
const type = ref(['เหมาจ่าย'])
const d = new Date().toLocaleDateString('th-TH', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric'
})
onMounted(async () => {
  await residentStore.getResidents()
  await houseStore.getHouses()
  const houseList = houseStore.houses
  for (const h of houseList) {
    if (h.resident === null) {
      houses.value.push(h.house_number)
    }
  }
})

const form = ref<VForm | null>(null)

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    await residentStore.saveResident()
  }
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="residentStore.createDialog" persistent max-width="600" max-height="520">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%"> เพิ่มข้อมูลลูกบ้าน </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    label="ชื่อ-นามสกุล*"
                    v-model="residentStore.editedResident.name"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูล ชื่อ-นามสกุล',
                      (v) => v.length >= 3 || 'ชื่อ-นามสกุล ต้องมากกว่าหรือเท่ากับ 3 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Email*"
                    v-model="residentStore.editedResident.email"
                    type="email"
                    :rules="[(v) => !!v || 'กรุณากรอกข้อมูล Email',
                    (v) => /(?=.*[@])/.test(v) || 'กรุณากรอกข้อมูล Email ให้ถูกต้อง เช่น user@gmail.com',
                    (v) => /(?=.*[.])/.test(v) || 'กรุณากรอกข้อมูล Email ให้ถูกต้อง เช่น user@gmail.com',
                  ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="เบอร์โทรศัพท์*"
                    v-model="residentStore.editedResident.phone"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูลเบอร์โทรศัพท์',
                      (v) => /(?=.*\d)/.test(v) ||'กรุณากรอกข้อมูลเป็นตัวเลข',
                      (v) => v.length == 10 || 'เบอร์โทรศัพท์ต้องมี 10 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field label="วันที่เข้าอาศัย" :disabled="true" v-model="d"></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-combobox
                    v-model="residentStore.editedResident.house_number"
                    variant="outlined"
                    label="บ้านเลขที่:"
                    :items="houses"
                    style="font-size: 120%; width: 100%"
                    :rules="[
                      (v) => !!v || 'กรุณาเลือกบ้านเลขที่',
                    ]"
                  ></v-combobox>
                </v-col>
                <v-col cols="6">
                  <v-combobox
                    v-model="type[0]"
                    variant="outlined"
                    label="การจ่ายค่าส่วนกลาง:"
                    :items="type"
                    style="font-size: 120%; width: 100%"
                  ></v-combobox>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small style="color: red"
            >*email และเบอร์โทรศัพท์จะเป็น username password เพื่อเข้าสู่ระบบ <br />
            **สามารถเปลี่ยนได้ Account เมื่อล็อกอินเข้าสู่ระบบ</small
          >
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="residentStore.clear"> ยกเลิก </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> บันทึก </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
