<script setup lang="ts">
import { useResidentStore } from '@/stores/resident'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

const residentStore = useResidentStore()
onMounted(async () => {
  await residentStore.getResidents()
})
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="residentStore.deleteDialog" persistent max-width="400">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%">
          ยืนยันการลบข้อมูลลูกบ้าน
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form ref="form">
            <v-container>คุณแน่ใจหรือไม่ที่ต้องการลบข้อมูลลูกบ้าน</v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="residentStore.deleteDialog = false">
            ยกเลิก
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="residentStore.deleteResident">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
