<script lang="ts">
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, Colors } from 'chart.js'
import { onMounted } from 'vue'
import { useCostReceiptStore } from '@/stores/costReceipt'
import { useCostStore } from '@/stores/cost'
import { ref } from 'vue'
import { useReceiptStore } from '@/stores/receipt'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, Colors)

export default {
  name: 'Income-Expenses',
  components: { Bar },

  data() {
    const ReceiptStore = useReceiptStore()
    const CostReceiptStore = useCostReceiptStore()
    const CostStore = useCostStore()
    const totalCost = ref(0)
    const totalCMF = ref(0)
    const total = ref(0)
    const chartData = ref<{
      labels: string[];
      datasets: {
        data: number[];
        backgroundColor: string[];
      }[];
    }>({
      labels: ['ค่าส่วนกลางที่ได้รับ', 'ค่าใช้จ่ายทั้งหมด'],
      datasets: [
        {
          data: [0.00, 0.00],
          backgroundColor: ["#66BB6A", "#E53935"],
        }
      ]
    })

    onMounted(async () => {
      totalCost.value = 0
      totalCMF.value = 0
      await ReceiptStore.getReceipts()
      totalCMF.value = ReceiptStore.totalCMF
      await CostReceiptStore.getCostReceipts()
      totalCost.value = CostReceiptStore.totalCost
      await CostStore.getCosts()
      total.value = totalCMF.value - totalCost.value
      chartData.value = {
        labels: ['ค่าส่วนกลางที่ได้รับ', 'ค่าใช้จ่ายทั้งหมด'],
        datasets: [
          {
            data: [totalCMF.value, totalCost.value],
            backgroundColor: ["#66BB6A", "#E53935"],
          }
        ]
      }
    })

    const formatPrice = (price: number) => {
      const options = {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      };
      const p = Number(price).toLocaleString('en', options);
      return p;
    }
    
    return {
      onMounted,
      totalCost,
      totalCMF,
      total,
      formatPrice,
      CostReceiptStore,
      ReceiptStore,
      chartData,
      chartOptions: {
        responsive: true,
        plugins: {
          legend: {
            display: false, labels: {
              font: {
                family: 'Prompt'
              }
            }
          },
          title: { display: true, text: 'Income-Expenses' },

        },
      },
    }
  }
}
</script>

<template>
  <div class="bg-yellow-lighten-5 home" onchange="onMounted()">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">หน้าหลัก</h2>
    </v-card>
    <v-row style="margin-left: 5%;margin-right: 5%;">
      <v-col>
        <div class="pa-6">
          <Bar id="my-chart-id" :options="chartOptions" :data="chartData" />
        </div>
      </v-col>
      <v-col>
        <v-card class="bg-white ma-10" style="border-radius: 3%; padding-bottom: 5%; padding-top: 2%;font-size: 150%;"
          variant="text">
          <v-card-text style="font-size: 110%;">
            ค่าส่วนกลางที่ได้รับ: {{ formatPrice(totalCMF) }}
          </v-card-text>
          <v-card-text style="font-size: 110%;">
            ค่าใช้จ่ายทั้งหมด: {{ formatPrice(totalCost) }}
          </v-card-text>
          <center>
            <v-card v-if="total >= 0" class="text-center bg-green pa-6" width="90%" style="margin-top: 2%;">
              กำไร {{ formatPrice(total) }}
            </v-card>
            <v-card v-else class="text-center bg-red pa-6" width="90%" style="margin-top: 2%;">
              ขาดทุน {{ formatPrice(total) }}
            </v-card>
          </center>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-table fixed-header height="42vh" style="
            text-align: center;
            width: 100%;
            border-radius: 10px;
            overflow-y: auto;
            margin-bottom: 3%;
            margin-left: 10%;
            margin-right: 10%;
          ">
        <thead>
          <tr>
            <th class="bg-yellow-darken-3" style="text-align: center">รายการ</th>
            <th class="bg-yellow-darken-3" style="text-align: center">ยอดชำระทั้งหมด</th>
            <th class="bg-yellow-darken-3" style="text-align: center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left; padding-left: 10%;">ค่าน้ำ</td>
            <td style="text-align: center"> {{ formatPrice(CostReceiptStore.subTotalCost[0]) }}</td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left; padding-left: 10%;">ค่าไฟ</td>
            <td style="text-align: center">{{ formatPrice(CostReceiptStore.subTotalCost[1]) }}</td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left; padding-left: 10%;">เงินเดือนนิติบุคคล</td>
            <td style="text-align: center">{{ formatPrice(CostReceiptStore.subTotalCost[2]) }}</td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left; padding-left: 10%;">เงินเดือนพนักงานรักษาความปลอดภัย</td>
            <td style="text-align: center">{{ formatPrice(CostReceiptStore.subTotalCost[3]) }}</td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left; padding-left: 10%;">เงินเดือนแม่บ้าน</td>
            <td style="text-align: center">{{ formatPrice(CostReceiptStore.subTotalCost[4]) }}</td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left; padding-left: 10%;">ค่าซ่อมบำรุง</td>
            <td style="text-align: center">{{ formatPrice(CostReceiptStore.subTotalCost[5]) }}</td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left; padding-left: 10%;">อื่นๆ</td>
            <td style="text-align: center">{{ formatPrice(CostReceiptStore.subTotalCost[6]) }}</td>
            <td></td>
          </tr>
        </tbody>
      </v-table>
    </v-row>
  </div>
</template>

<style></style>
