<script setup lang="ts">
import { ref } from 'vue'
import { useAuthStore } from '@/stores/auth'
import { VForm } from 'vuetify/lib/components/index.mjs'
import LoadingDialog from '@/components/LoadingDialog.vue'
import MessageDialog from '@/components/MessageDialog.vue'

const authStore = useAuthStore()

const username = ref('')
const password = ref('')
const valid = ref(true)
const visible = ref(false)

const form = ref<InstanceType<typeof VForm> | null>(null)

const login = async () => {
  const { valid } = await form.value!.validate()
  if (valid) {
    authStore.login(username.value, password.value)
  }
}

const reset = () => {
  form.value?.reset()
}
</script>

<template>
  <!-- <v-navigation-drawer class="bg-light-green-darken-4"> -->
  <div
    class="bg-yellow-lighten-4 home"
    style="padding-left: 35%; padding-top: 3%; padding-bottom: 20%"
  >
    <v-col cols="6" class="bg-light-green-darken-4">
      <center class="ma-6">
        <v-img
          :width="150"
          aspect-ratio="2/3"
          cover
          src="https://cdn.discordapp.com/attachments/746298215124697181/1129792354803527700/icon.png"
        ></v-img>
      </center>
      <div style="font-size: 20pt; text-align: center">MyHouse</div>
      <v-form ref="form" v-model="valid">
        <v-list class="bg-light-green-darken-4">
          <v-col>
            <v-list-item style="margin-left: 10%; margin-right: 10%">
              <v-text-field
                prepend-inner-icon="mdi-account"
                label="Userame"
                v-model="username"
                :rules="[
                  (v) => !!v || 'กรุณากรอกข้อมูล Username',
                ]"
                required
              ></v-text-field>
            </v-list-item>
          </v-col>
          <v-col>
            <v-list-item style="margin-left: 10%; margin-right: 10%">
              <v-text-field
                :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                :type="visible ? 'text' : 'password'"
                @click:append-inner="visible = !visible"
                prepend-inner-icon="mdi-lock"
                label="Password"
                v-model="password"
                :rules="[
                  (v) => !!v || 'กรุณากรอกข้อมูล Password',
                ]"
                required
              ></v-text-field>
            </v-list-item>
          </v-col>
          <v-col>
            <v-list-item>
              <center>
                <v-btn
                  style="margin-right: 5%"
                  width="120px"
                  height="50"
                  color="light-green-darken-1"
                  variant="flat"
                  @click="login"
                  >Login</v-btn
                >
                <v-btn color="red-darken-1" width="120px" height="50" variant="flat" @click="reset"
                  >Clear</v-btn
                >
              </center>
            </v-list-item>
          </v-col>
        </v-list>
      </v-form>
    </v-col>
    <MessageDialog />
    <LoadingDialog />
  </div>
</template>

<style></style>
