<script setup lang="ts">
import { useCostReceiptStore } from '@/stores/costReceipt'
import { useJuristicStore } from '@/stores/juristic'
// import { ref } from 'vue';
import { onMounted } from 'vue'

const CostReceiptStore = useCostReceiptStore()
const juristicStore = useJuristicStore()
onMounted(async () => {
  await juristicStore.getJuristics()
  await CostReceiptStore.getCostReceipts()
})
</script>

<template>
  <v-row>
    <v-dialog v-model="CostReceiptStore.costImgDialog" persistent max-width="500" max-height="1000">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%"> หลักฐานการชำระเงิน </v-card-title>
        <v-divider style="margin-bottom: 3%"></v-divider>
        <center>
          <v-img
            :width="350"
            aspect-ratio="3/4"
            :src="CostReceiptStore.selectReceipt.billImg"
          ></v-img>
        </center>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="CostReceiptStore.clear()"
          >
            ตกลง
          </v-btn>
          <!-- <v-btn
            color="blue-darken-1"
            variant="text"
            @click="CostReceiptStore.costImgDialog = false"
          >
            ยืนยัน
          </v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
