<script setup lang="ts">
import { useCostReceiptStore } from '@/stores/costReceipt'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

const CostReceiptStore = useCostReceiptStore()
onMounted(async () => {
  await CostReceiptStore.getCostReceipts()
})

const formatDate = (date: Date) => {
  const newDate = new Date(date).toLocaleDateString('th-TH', {
    day: '2-digit',
    month: '2-digit',
    year: 'numeric'
  })
  return newDate
}

const formatPrice = (price: number) => {
  const options = {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  };
  const p = Number(price).toLocaleString('en', options);
  return p;
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="CostReceiptStore.deleteDialog" persistent max-width="400">
      <v-card style="font-family: Prompt" width="500">
        <v-card-title style="margin-top: 2%; font-size: 150%">
          ยืนยันการลบข้อมูลค่าใช้จ่าย 
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              คุณแน่ใจหรือไม่ที่ต้องการลบข้อมูลค่าใช้จ่าย 
              {{ CostReceiptStore.selectReceipt.cost.type }} <br />
              ยอดชำระ {{ formatPrice(CostReceiptStore.selectReceipt.total) }} บาท ชำระเมื่อวันที่
              {{ formatDate(CostReceiptStore.selectReceipt.pay_date) }}
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="CostReceiptStore.clear()">
            ยกเลิก
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="CostReceiptStore.deleteCostReceipt">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
