<script setup lang="ts">
import { useCostReceiptStore } from '@/stores/costReceipt'
import { useCostStore } from '@/stores/cost'
import { useJuristicStore } from '@/stores/juristic'
import { ref } from 'vue'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

const CostReceiptStore = useCostReceiptStore()
const juristicStore = useJuristicStore()
const CostStore = useCostStore()
const form = ref<VForm | null>(null)
const fileInput = ref()
const billImg = ref()
const d = new Date().toLocaleDateString('th-TH', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric'
})

onMounted(async () => {
  fileInput.value = ''
  await juristicStore.getJuristics()
  await CostStore.getCosts()
  await CostReceiptStore.getCostReceipts()
})

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    CostReceiptStore.saveCostReceipt()
    fileInput.value = null
    console.log(fileInput.value)
  }
}

// const cancel

async function uploadImage() {
  const reader = new FileReader()
  reader.readAsDataURL(fileInput.value[0])
  // console.log(img)
  reader.onload = () => {
    billImg.value = reader.result
    CostReceiptStore.selectReceipt.billImg = billImg.value
    // console.log(CostReceiptStore.selectReceipt.billImg)
  }
}
</script>

<template>
  <v-row>
    <v-dialog
      v-model="CostReceiptStore.editCostDialog"
      persistent
      max-width="500"
      max-height="1000"
    >
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%">
          แก้ไขข้อมูลค่าใช้จ่าย 
        </v-card-title>
        <v-divider style="margin-bottom: 3%"></v-divider>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-combobox
                  v-model="CostReceiptStore.selectReceipt.cost.type"
                  variant="outlined"
                  label="รายการ:"
                  :items="CostStore.costList"
                  style="font-size: 120%; width: 100%"
                  :rules="[(v) => !!v || 'กรุณาเลือกรายการที่ชำระเงิน']"
                ></v-combobox>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="ผู้ชำระเงิน"
                  v-model="CostReceiptStore.selectReceipt.juristic.name"
                  :disabled="true"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field label="วันที่ชำระเงิน" v-model="d" :disabled="true"> </v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="ยอดเงินที่ชำระ*"
                  v-model="CostReceiptStore.selectReceipt.total"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูลยอดเงินที่ชำระ']"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-file-input
                  v-model="fileInput"
                  variant="outlined"
                  label="แนบไฟล์"
                  accept="image/png, image/jpeg"
                  @change="uploadImage"
                ></v-file-input>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  label="หมายเหตุ"
                  v-model="CostReceiptStore.selectReceipt.note"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <!-- <small style="color: red; margin-top: 3%; text-align: center;">*เมื่อคุณยืนยันการชำระเงิน ระบบจะส่งใบเสร็จชำระเงินให้ลูกบ้าน</small> -->
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="CostReceiptStore.clear"> ยกเลิก </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save()">
            บันทึก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
