<script setup lang="ts">
import { useLoadingStore } from '@/stores/loading'

const loadingStore = useLoadingStore()
</script>

<template>
  <v-dialog v-model="loadingStore.isLoading" persistent width="auto">
    <v-progress-circular
      :size="70"
      :width="7"
      color="green-lighten-2"
      indeterminate
    ></v-progress-circular>
  </v-dialog>
</template>
