<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { useJuristicStore } from '@/stores/juristic';
import { useResidentStore } from '@/stores/resident';
import { useUserStore } from '@/stores/user';
import { ref } from 'vue';
import { onMounted } from 'vue';
import router from '@/router'
import Resident from '@/types/Resident';
import Juristic from '@/types/Juristic';

const UserStore = useUserStore()
const JuristicStore = useJuristicStore()
const ResidentStore = useResidentStore()
const role = ref('')
const id = ref(0)
const visible = ref(false)
const selected = ref()
const name = ref('')
const phone = ref('')
const email = ref('')
const address = ref('')
const authStore = useAuthStore()
const residentId = ref('')
onMounted(async () => {
  selected.value = null
  id.value = parseInt(localStorage.getItem('id'))
  await UserStore.getUserByID(id.value)
  role.value = localStorage.getItem('role')
  selectRole()
})

const selectRole = () => {
  if (role.value == '3') {
    residentId.value = localStorage.getItem('residentId')
    selected.value = UserStore.editedUser.resident
  } else {
    selected.value = UserStore.editedUser.juristic
    address.value = selected.value.address
  }
  name.value = selected.value.name
  phone.value = selected.value.phone
  email.value = selected.value.email
}

const save = async () => {
  //check if visible = true 
  if (visible.value == true && UserStore.editedUser.password != null) {
    // show dia log for confirm
    await UserStore.saveUser()
    if (role.value == '3' && name.value != null && phone.value != null && email.value != null) {
      //save
      const resident = ref<Resident>({
        id: parseInt(residentId.value),
        name: name.value,
        phone: phone.value,
        email: email.value,
      })
      ResidentStore.editedResident = resident.value
      console.log(ResidentStore.editedResident)
      await ResidentStore.saveResident()
    } else {
      if (name.value != null && phone.value != null && email.value != null && address.value != null) {
        //save
        console.log(role.value)
      }
    }
    logout()
  } else {
    if (role.value == '3') {
      const resident = ref<Resident>({
        id: parseInt(residentId.value),
        name: name.value,
        phone: phone.value,
        email: email.value,
      })
      ResidentStore.editedResident = resident.value
      await ResidentStore.saveResident()
      router.replace('/resident/' + residentId.value)
    } else {
      if (name.value != null && phone.value != null && email.value != null && address.value != null) {
        const juristicId = localStorage.getItem('juristicId')
        const juristic = ref<Juristic>({
          id: parseInt(juristicId),
          name: name.value,
          phone: phone.value,
          email: email.value,
          address: address.value
        })
        JuristicStore.editedJuristic = juristic.value
        await JuristicStore.saveJuristic()
      }
      router.replace('/')
    }
  }
}

const logout = () => {
  authStore.logout()
}

const cancel = () => {
  if (role.value == '3') {
    router.replace('/resident/' + residentId.value)
  } else {
    router.replace('/')
  }
}
</script>

<template>
  <div class="home">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">แก้ไขข้อมูลส่วนตัว</h2>
    </v-card>
    <div style="margin-left: 9%; margin-right: 10%; margin-top: 1%">
      <v-card>
        <center>
          <v-col class="ma-10" cols="10">
            <v-row>
              <v-text-field v-model="name" class="ma-5" label="ชื่อ-นามสกุล:"></v-text-field>
              <v-text-field v-model="phone" class="ma-5" label="เบอร์โทรศัพท์:"></v-text-field>
            </v-row>
            <v-row v-if="role !== '3'">
              <v-text-field v-model="address" class="ma-5" label="ที่อยู่ปัจจุบัน:"></v-text-field>
            </v-row>
            <v-row>
              <v-col cols="7">
                <v-text-field v-model="email" class="ma-2" label="Email:"></v-text-field>
              </v-col>
              <v-col cols="5">
                <v-btn color="yellow-darken-3" height="55" style="font-size: 110%; color: white; margin-top: 2%;"
                  @click="visible = !visible" :append-icon="visible ? 'mdi-chevron-up' : 'mdi-chevron-down'">
                  username password</v-btn>
              </v-col>
            </v-row>
            <v-row v-if="visible == true">
              <v-text-field v-model="UserStore.editedUser.username" class="ma-5" label="Username:"></v-text-field>
              <v-text-field v-model="UserStore.editedUser.password" class="ma-5" label="Password:"></v-text-field>
            </v-row>
            <v-row v-if="visible == true">
              <small style="color: red; font-size: 100%;">
                *กรุณากรอกข้อมูลรหัสผ่านทุกครั้ง
                หากเว้นว่างระบบจะไม่บันทึกข้อมูลที่เปลี่ยนแปลง</small>
              <small
                style="color: red; font-size: 100%;">**รหัสผ่านที่กรอกจะเป็นรหัสผ่านใหม่ที่ใช่ในการเข้าสู่ระบบ</small>
            </v-row>
            <v-row>
              <v-btn color="light-green-darken-1"
                style="margin-top: 0%;margin-left: 62%; margin-right: 2%; font-size: 110%;" width="150" height="50"
                @click="save()">บันทึก</v-btn>
              <v-btn color="red-darken-1" width="150" height="50" style="margin-top: 0%;font-size: 110%;"
                @click="cancel()">ยกเลิก</v-btn>
            </v-row>
          </v-col>
          <small style="color: red; font-size: 100%;">*กรุณากรอกข้อมูลให้ครบถ้วนห้ามเว้นว่าง
            หากเว้นว่างระบบจะไม่บันทึกข้อมูลที่เปลี่ยนแปลง</small>
        </center>
      </v-card>
    </div>
  </div>
</template>

<style scoped></style>