<script setup lang="ts">
import { useInvoiceStore } from '@/stores/invoice'
import { useReceiptStore } from '@/stores/receipt'
import { useResidentStore } from '@/stores/resident'
import { ref } from 'vue'
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'
import cancelDialog from '@/components/invoice/cancelDialog.vue'
import payDialog from '@/components/invoice/payDialog.vue'
import Receipt from '@/types/Receipt'
import Invoice from '@/types/Invoice'

const route = useRoute()
const residentId = parseInt(route.params.id + '')
const InvoiceStore = useInvoiceStore()
const ReceiptStore = useReceiptStore()
const ResidentStore = useResidentStore()
const lst = ref([])
const house_number_lst = ref([])
const selectHouseNumber = ref('')
const sub_total = ref(0)
const discount = ref(0.00)
const bank_number = ref('')
const fileInput = ref()
const billImg = ref()
const invCount = ref(0)
const oldHN = ref('')
const lateFee = ref(0)
onMounted(async () => {
  lst.value = []
  house_number_lst.value = []
  ReceiptStore.selectPackate = 0
  invCount.value = 0
  discount.value = 0.00
  await InvoiceStore.getInvoices()
  await ResidentStore.getHouseNumberByResidentID(residentId)
  house_number_lst.value = ResidentStore.house_number
  selectHouseNumber.value = ResidentStore.house_number[0]
  ReceiptStore.selectPackate = 0
  oldHN.value = selectHouseNumber.value
})

const formatDate = (date: Date) => {
  const newDate = new Date(date).toLocaleDateString('th-TH', { month: '2-digit', year: 'numeric' })
  return newDate
}

const formatLastDate = (date: Date) => {
  const newDate = new Date(date).toLocaleDateString('th-TH', {
    day: '2-digit',
    month: '2-digit',
    year: 'numeric'
  })
  return newDate
}

const checkCount = (item: Invoice) => {
  if (oldHN.value !== item.house_number || invCount.value == 0) {
    invCount.value = 0
    for (const i of InvoiceStore.invoice) {
      if (i.receipt == null && i.house_number == selectHouseNumber.value) {
        invCount.value++
      }
    }
    oldHN.value = item.house_number
  }
}

const formatPrice = (price: number) => {
  const options = {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  };
  const p = Number(price).toLocaleString('en', options);
  return p;
}

const createSelectd = () => {
  const count = ref(0)
  lst.value = []
  sub_total.value = 0
  for (const item of InvoiceStore.invoice) {
    if (
      item.receipt == null &&
      item.resident.id == residentId &&
      ReceiptStore.selectPackate !== 0 &&
      item.house_number == selectHouseNumber.value
    ) {
      lst.value.push(item)
      sub_total.value += parseInt(item.amount.toString())
      count.value++
    }
    if (count.value == ReceiptStore.selectPackate) {
      break
    }
    
  }
  lateFee.value = calDate()
  return lst.value
}

async function uploadImage() {
  const reader = new FileReader()
  reader.readAsDataURL(fileInput.value[0])
  reader.onload = () => {
    billImg.value = reader.result
    // console.log(reader.result)
    ReceiptStore.billImg = billImg.value
  }
}

const checkFile = () => {
  if (!fileInput.value) {
    window.alert('กรุณาแนบสลิปการโอนเงิน')
  } else if (ReceiptStore.selectPackate == 0) {
    window.alert('กรุณาเลือกรายการที่ต้องการชำระเงิน')
  } else {
    const receipt = ref<Receipt>({
      sub_total: sub_total.value,
      package: ReceiptStore.selectPackate,
      fines: lateFee.value,
      discount: discount.value,
      total: sub_total.value - discount.value + lateFee.value,
      paid: sub_total.value - discount.value + lateFee.value,
      change: 0,
      payment_method: 'Mobile Banking',
      residentId: residentId
    })
    ReceiptStore.createReceipt(receipt.value, lst.value)
  }
}

const calDate = () => {
  lateFee.value = 0
  for (const d of lst.value) {
    const dNow = new Date().getTime() //pay date (now)
    const last = new Date(d.last_date).getTime() // last pay date
    const diff = (dNow - last) / (24 * 60 * 60 * 1000)
    if (diff <= 0) {
      lateFee.value += 0
    } else {
      lateFee.value += ((1450 * 0.1) / 365) * diff
    }
  }
  return lateFee.value
}

const check= () => {
  if (ReceiptStore.selectPackate > invCount.value) {
    ReceiptStore.selectPackate = invCount.value
  }
}
</script>

<template>
  <div class="home" :oninput="check">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">การจัดการชำระเงินค่าส่วนกลาง</h2>
    </v-card>
    <v-container style="margin-left: 2%">
      <v-row>
        <v-col cols="4" style="padding: 0%; margin: 0%; margin-top: 2%">
          <v-combobox ref="myComboBox" v-model="selectHouseNumber" variant="outlined" label="บ้านเลขที่:"
            :items="house_number_lst" style="font-size: 120%; width: 40%"></v-combobox>
          <v-table fixed-header height="65vh" style="text-align: center; width: 90%; border-radius: 10px">
            <thead>
              <tr>
                <th class="bg-yellow-darken-3" style="text-align: center; font-size: 95%">
                  เดือน/ปี
                </th>
                <th class="bg-yellow-darken-3" style="text-align: center; font-size: 95%">
                  ยอดค้างชำระ
                </th>
                <th class="bg-yellow-darken-3" style="text-align: center; font-size: 95%">
                  กำหนดชำระ
                </th>
              </tr>
            </thead>
            <tbody v-for="item of InvoiceStore.invoice" :key="item.id">
              <tr v-if="item.receipt == null &&
                item.resident.id == residentId &&
                item.house_number == selectHouseNumber
                ">
                <td style="text-align: center; font-size: 95%">
                  {{ formatDate(item.start_date) }} {{ checkCount(item) }}
                </td>
                <td style="text-align: center; font-size: 95%">{{ formatPrice(item.amount) }}</td>
                <td style="text-align: center; font-size: 95%">
                  {{ formatLastDate(item.last_date) }}
                </td>
              </tr>
            </tbody>
          </v-table>
          <div style="font-size: 150%; text-align: center; margin-right: 10%; margin-top: 2%;">
            ค้างชำระทั้งหมด {{ invCount }} เดือน
          </div>
        </v-col>
        <!-- <v-divider vertical></v-divider> -->
        <v-col cols="5">
          <v-card-text style="font-size: 120%"> กรุณาเลือกจำนวนเดือนที่ต้องการชำระ: </v-card-text>
          <v-radio-group v-model="ReceiptStore.selectPackate" inline style="padding-bottom: 0%; font-size: 110%">
            <v-radio :disabled="invCount < 1 ? true : false" style="margin-right: 3%" label="1 เดือน" value="1"></v-radio>
            <v-radio :disabled="invCount < 6 ? true : false" style="margin-right: 3%" label="6 เดือน" value="6"></v-radio>
            <v-radio :disabled="invCount < 12 ? true : false" label="12 เดือน" value="12"></v-radio>
            <v-text-field v-model="ReceiptStore.selectPackate" type="number" variant="underlined"
              style="width: 10%; margin-left: 3%; margin-right: 20%;" label="อื่น ๆ"></v-text-field>
          </v-radio-group>
          <v-card-text style="font-size: 120%; padding-top: 0%"> รายการที่ต้องการชำระ </v-card-text>
          <v-table v-if="ReceiptStore.selectPackate == 0" fixed-header height="35vh" style="
              text-align: center;
              width: 90%;
              border-radius: 10px;
              overflow-y: auto;
              margin-bottom: 3%;
            ">
            <thead>
              <tr>
                <th class="bg-yellow-darken-3" style="text-align: center; font-size: 95%">
                  เดือน/ปี
                </th>
                <th class="bg-yellow-darken-3" style="text-align: center; font-size: 95%">
                  ยอดค้างชำระ
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td style="text-align: start; padding-top: 15%">No Data</td>
              </tr>
            </tbody>
          </v-table>
          <v-table v-else fixed-header height="35vh" style="
              text-align: center;
              width: 90%;
              border-radius: 10px;
              overflow-y: auto;
              margin-bottom: 3%;
            ">
            <thead>
              <tr>
                <th class="bg-yellow-darken-3" style="text-align: center; font-size: 95%">
                  เดือน/ปี
                </th>
                <th class="bg-yellow-darken-3" style="text-align: center; font-size: 95%">
                  ยอดค้างชำระ
                </th>
              </tr>
            </thead>
            <tbody v-for="item of createSelectd()" :key="item.id">
              <tr v-if="item.receipt == null &&
                item.resident.id == residentId &&
                item.house_number == selectHouseNumber
                ">
                <td style="text-align: center; font-size: 95%">
                  {{ formatDate(item.start_date) }}
                </td>
                <td style="text-align: center; font-size: 95%">{{ formatPrice(item.amount) }}</td>
              </tr>
            </tbody>
          </v-table>
          <v-row style="margin-top: 3%">
            <v-col cols="4" style="margin-bottom: 0%; text-align: end"> ยอดค้างชำระทั้งหมด: </v-col>
            <v-col cols="5" style="margin-bottom: 0%; text-align: center">
              {{ formatPrice(sub_total) }}
            </v-col>
            <v-col cols="3" style="margin-bottom: 0%"> บาท </v-col>
          </v-row>
          <v-row>
            <v-col cols="4" style="margin-bottom: 0%; text-align: end"> ค่าปรับ: </v-col>
            <v-col cols="5" style="margin-bottom: 0%; text-align: center">
              {{ formatPrice(lateFee) }}
            </v-col>
            <v-col cols="3" style="margin-bottom: 0%"> บาท </v-col>
          </v-row>
          <v-row>
            <v-col cols="4" style="margin-bottom: 0%; text-align: end"> ส่วนลด: </v-col>
            <v-col cols="5" style="margin-bottom: 0%; text-align: center">
              {{ formatPrice(discount) }}
              <!-- <v-text-field v-model="discount" style="width: %; text-align: center;" variant="underlined"></v-text-field> -->
            </v-col>
            <v-col cols="3" style="margin-bottom: 0%"> บาท </v-col>
          </v-row>
          <v-row>
            <v-col cols="4" style="margin-bottom: 0%; text-align: end">
              ยอดสุทธิที่ต้องชำระ:
            </v-col>
            <v-col cols="5" style="margin-bottom: 0%; text-align: center">
              {{ formatPrice(sub_total - discount + lateFee) }}
            </v-col>
            <v-col cols="3" style="margin-bottom: 0%"> บาท </v-col>
          </v-row>
        </v-col>
        <v-col cols="3">
          <v-row>
            <v-col cols="12">
              <v-card-text style="font-size: 120%"> การชำระเงิน </v-card-text>
              <v-card style="margin-left: 20%; margin-bottom: 10%" height="260" width="300"
                title="กรุณาโอนเงินเข้าบัญชีธนาคาร">
                <v-divider style="margin-bottom: 3%"></v-divider>
                <center>
                  <v-icon color="green-accent-4" style="font-size: 600%; margin-top: 2%">mdi-bank</v-icon>
                  <v-card-text v-model="bank_number" style="font-size: 100%; padding-bottom: 0%">
                    123-456789-1
                    <!-- <v-icon>mdi-content-copy</v-icon> -->
                  </v-card-text>
                  <v-card-text style="font-size: 100%"> ชื่อบัญชี: Patchara L. </v-card-text>
                </center>
              </v-card>
              <v-card-text style="font-size: 110%; margin-top: 20%">
                กรุณาแนบหลักฐานการชำระเงิน
              </v-card-text>
              <v-file-input v-model="fileInput" variant="underlined" label="แนบไฟล์" style="width: 110%; margin-left: 15%"
                accept="image/png, image/jpeg" @change="uploadImage"></v-file-input>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" style="margin-left: 25%; margin-top: 15%">
              <v-btn style="margin-right: 5%" color="red-darken-1" width="130px" height="60" variant="flat"
                @click="InvoiceStore.cancelDialog = true">ยกเลิก</v-btn>
              <v-btn width="130px" height="60" color="light-green-darken-1" variant="flat"
                @click="checkFile()">ยืนยัน</v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <cancelDialog />
      <payDialog />
    </v-container>
  </div>
</template>

<style scoped></style>
