<script setup lang="ts">
import CostImgDialog from '@/components/cost/costImgDialog copy.vue'
import createCostDialog from '@/components/cost/createCostDialog.vue'
import editCostDialog from '@/components/cost/editCostDialog.vue'
import DeleteDialog from '@/components/cost/deleteDialog.vue'
import { useCostReceiptStore } from '@/stores/costReceipt'
import CostReceipt from '@/types/CostReceipt'
import { onMounted } from 'vue'

const CostReceiptStore = useCostReceiptStore()
onMounted(async () => {
  await CostReceiptStore.getCostReceipts()
})

const createCostReceipt = () => {
  CostReceiptStore.createCostDialog = true
}

const formatPrice = (price: number) => {
  const options = {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  };
  const p = Number(price).toLocaleString('en', options);
  return p;
}

const formatDate = (date: Date) => {
  const newDate = new Date(date).toLocaleDateString('th-TH', {
    day: '2-digit',
    month: '2-digit',
    year: 'numeric'
  })
  return newDate
}

const openBill = (costReceipt: CostReceipt) => {
  CostReceiptStore.showReceipt(costReceipt)
}

const openEdit = (costReceipt: CostReceipt) => {
  CostReceiptStore.selectReceipt = costReceipt
  CostReceiptStore.editCostDialog = true
}

const openDelete = (costReceipt: CostReceipt) => {
  CostReceiptStore.selectReceipt = costReceipt
  CostReceiptStore.deleteDialog = true
}
</script>

<template>
  <div class="home">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">การจัดการค่าใช้จ่าย</h2>
    </v-card>
    <div style="margin-left: 12%; margin-right: 10%; margin-top: 2%">
      <v-row>
        <v-btn color="green" @click="createCostReceipt()" variant="flat" style="
            font-size: larger;
            padding-top: 1%;
            padding-bottom: 3%;
            margin-left: 79%;
            margin-top: 1%;
          ">เพิ่มใบแจ้งค่าใช้จ่าย</v-btn>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-table fixed-header height="70vh" style="
              text-align: center;
              width: 100%;
              border-radius: 10px;
              overflow-y: auto;
              margin-bottom: 3%;
            ">
            <thead class="bg-yellow-darken-3">
              <tr>
                <th class="bg-yellow-darken-3"></th>
                <th class="bg-yellow-darken-3" style="text-align: center">รายการ</th>
                <th class="bg-yellow-darken-3" style="text-align: center">ยอดที่ชำระ</th>
                <th class="bg-yellow-darken-3" style="text-align: center">วันที่ชำระ</th>
                <th class="bg-yellow-darken-3" style="text-align: center">หมายเหตุ</th>
                <th class="bg-yellow-darken-3" style="text-align: center">ผู้ชำระเงิน</th>
                <th class="bg-yellow-darken-3" style="text-align: center"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of CostReceiptStore.costReceipts" :key="item.id">
                <td></td>
                <td style="padding-top: 10px; padding-bottom: 10px; text-align: start">
                  {{ item.cost.type }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ formatPrice(item.total) }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ formatDate(item.pay_date) }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px; text-align: start">
                  {{ item.note }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.juristic.name }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  <v-btn class="ma-1" color="teal-lighten-1" icon="mdi-image" variant="text"
                    @click="openBill(item)"></v-btn>
                  <v-btn class="ma-1" color="orange-darken-1" icon="mdi-pencil" variant="outlined"
                    @click="openEdit(item)"></v-btn>
                  <v-btn class="ma-1" color="red-lighten-1" icon="mdi-delete" variant="outlined"
                    @click="openDelete(item)"></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </div>
    <CostImgDialog />
    <createCostDialog />
    <editCostDialog />
    <DeleteDialog />
  </div>
</template>

<style scoped></style>
