<script setup lang="ts">
import { useJuristicStore } from '@/stores/juristic'
import { onMounted } from 'vue'
import createDialog from '@/components/juristic/createDialog.vue'
import editDialog from '@/components/juristic/editDialog.vue'
import deleteDialog from '@/components/juristic/deleteDialog.vue'
import Juristic from '@/types/Juristic'
import { ref } from 'vue'

const juristicStore = useJuristicStore()
onMounted(async () => {
  await juristicStore.getJuristics()
})

const showEditDialog = (juristic: Juristic) => {
  juristicStore.editJuristic(juristic)
}
</script>

<template>
  <div class="home">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">ข้อมูลนิติบุคคล</h2>
    </v-card>
    <div style="margin-left: 9%; margin-right: 10%; margin-top: 2%">
      <v-row>
        <v-btn
          color="green"
          variant="flat"
          style="font-size: larger; padding-top: 1%; padding-bottom: 3%; margin-left: 80%"
          @click="juristicStore.createDialog = true"
          >เพิ่มข้อมูลนิติบุคคล</v-btn
        >
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-table
            fixed-header
            height="70vh"
            style="
              text-align: center;
              width: 100%;
              border-radius: 10px;
              overflow-y: auto;
              margin-bottom: 3%;
            "
          >
            <thead>
              <tr>
                <th class="bg-yellow-darken-3" style="text-align: center"></th>
                <!-- <th class="bg-yellow-darken-3" style="text-align: center">ID</th> -->
                <th class="bg-yellow-darken-3" style="text-align: center">ชื่อ-นามสกุล</th>
                <th class="bg-yellow-darken-3" style="text-align: center">Email</th>
                <th class="bg-yellow-darken-3" style="text-align: center">ที่อยู่ปัจจุบัน</th>
                <th class="bg-yellow-darken-3" style="text-align: center">เบอร์โทรศัพท์</th>
                <th class="bg-yellow-darken-3" style="padding-left: 45px; text-align: center"></th>
              </tr>
            </thead>
            <tbody v-if="juristicStore.juristics.length == 0">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="font-size: 150%; padding-top: 18%; text-align: start">No Data</td>
              <td></td>
              <td></td>
            </tbody>
            <tbody v-else>
              <tr v-for="item of juristicStore.juristics" :key="item.id">
                <th></th>
                <!-- <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.id }}
                </td> -->
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.name }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.email }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.address }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.phone }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  <v-btn
                    class="ma-1"
                    color="teal-lighten-1"
                    icon="mdi-pencil"
                    variant="outlined"
                    @click="showEditDialog(item)"
                  ></v-btn>
                  <v-btn
                    class="ma-1"
                    color="red"
                    icon="mdi-delete"
                    variant="outlined"
                    @click="juristicStore.confirmDelete(item.id)"
                  ></v-btn>
                </td>
              </tr>
            </tbody> </v-table
        ></v-col>
      </v-row>
    </div>
    <createDialog />
    <editDialog />
    <deleteDialog />
  </div>
</template>

<style scoped></style>
