<script setup lang="ts">
import { onMounted } from 'vue';
import { useLogStore } from '@/stores/log'
const logStore = useLogStore()
onMounted(async () => {
  await logStore.getLogs();
})

const formatDate = (date: Date) => {
  const newDate = new Date(date).toLocaleDateString('en-GB')
  return newDate
}

const formatTime = (date: Date) => {
  const newDate = new Date(date).toLocaleTimeString('en-GB')
  return newDate
}
</script>

<template>
  <div class="home">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%; margin-bottom: 3%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">ตรวจสอบกิจกรรมในระบบ</h2>
    </v-card>
    <v-row style="margin-left: 10%; margin-right: 10%; margin-top: 0%">
      <v-col cols="12">
        <v-table fixed-header height="75vh" style="
            text-align: center;
            width: 100%;
            border-radius: 10px;
            overflow-y: auto;
            margin-bottom: 3%;
          ">
          <thead>
            <tr>
              <!-- <th class="bg-yellow-darken-3" style="text-align: center"></th> -->
              <th class="bg-yellow-darken-3" style="text-align: center">วันที่</th>
              <th class="bg-yellow-darken-3" style="text-align: center">เวลา</th>
              <th class="bg-yellow-darken-3" style="text-align: center">กิจกรรม</th>
              <th class="bg-yellow-darken-3" style="text-align: center">ผู้ใช้งาน</th>
            </tr>
          </thead>
          <tbody v-for="item of logStore.logs" :key="item.id">
            <tr>
              <td style="text-align: center">{{ formatDate(item.date) }}</td>
              <td style="text-align: center">{{ formatTime(item.date) }}</td>
              <td style="text-align: start">{{ item.activity }}</td>
              <td v-if="item.juristic!==null" style="text-align: center">{{ item.juristic.name }}</td>
              <td v-if="item.resident!==null" style="text-align: center">{{ item.resident.name }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <confirmReceiptDialog />
    <confirmReturnDialogVue />
  </div>
</template>

<style scoped></style>
