<script setup lang="ts">
import { useJuristicStore } from '@/stores/juristic'
import { useReceiptStore } from '@/stores/receipt'
import { onMounted } from 'vue'
import confirmReceiptDialog from '@/components/juristic/confirmReceiptDialog.vue'
import Receipt from '@/types/Receipt'
import confirmReturnDialogVue from '@/components/juristic/confirmReturnDialog.vue'
const ReceiptStore = useReceiptStore()
const juristicStore = useJuristicStore()
onMounted(async () => {
  await juristicStore.getJuristics()
  await ReceiptStore.getReceipts()
  // const user = localStorage.getItem('user')
})

const formatDate = (date: Date) => {
  const newDate = new Date(date).toLocaleDateString('en-GB')
  return newDate
}

const openBill = (receipt: Receipt) => {
  ReceiptStore.showConfirmDialog(receipt)
}

const comfirmCancel = (receipt: Receipt) => {
  ReceiptStore.showConfirmReturnDialog(receipt)
}

const formatPrice = (price: number) => {
  const options = {
    minimumFractionDigits: 2,
    maximumFractionDigits: 2
  };
  const p = Number(price).toLocaleString('en', options);
  return p;
}
</script>

<template>
  <div class="home">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%; margin-bottom: 3%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">การจัดการใบเสร็จชำระเงินค่าส่วนกลาง</h2>
    </v-card>
    <v-row style="margin-left: 10%; margin-right: 10%; margin-top: 0%">
      <v-col cols="12">
        <v-table fixed-header height="75vh" style="
            text-align: center;
            width: 100%;
            border-radius: 10px;
            overflow-y: auto;
            margin-bottom: 3%;
          ">
          <thead>
            <tr>
              <th class="bg-yellow-darken-3" style="text-align: center">บ้านเลขที่</th>
              <th class="bg-yellow-darken-3" style="text-align: center">ยอดค้างชำระ</th>
              <th class="bg-yellow-darken-3" style="text-align: center">ค่าปรับ</th>
              <th class="bg-yellow-darken-3" style="text-align: center">ส่วนลด</th>
              <th class="bg-yellow-darken-3" style="text-align: center">ยอดสุทธิที่ชำระ</th>
              <th class="bg-yellow-darken-3" style="text-align: center">วิธีชำระเงิน</th>
              <th class="bg-yellow-darken-3" style="text-align: center">วันที่ชำระเงิน</th>
              <th class="bg-yellow-darken-3" style="text-align: center"></th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody v-for="item of ReceiptStore.receipts" :key="item.id">
            <tr v-if="item.juristic == null">
              <td style="text-align: center">{{ item.invoice[0].house_number }}</td>
              <td style="text-align: center">{{ formatPrice(item.sub_total) }}</td>
              <td style="text-align: center">{{ formatPrice(item.fines) }}</td>
              <td style="text-align: center">{{ formatPrice(item.discount) }}</td>
              <td style="text-align: center">{{ formatPrice(item.total) }}</td>
              <td style="text-align: center">{{ item.payment_method }}</td>
              <td style="text-align: center">{{ formatDate(item.date) }}</td>
              <td style="padding-top: 10px; padding-bottom: 10px">
                <v-btn class="ma-1" color="brown-darken-1" variant="outlined" icon="mdi-image"
                  @click="openBill(item)"></v-btn>
                <v-btn class="ma-1" color="red-darken-1" variant="outlined" icon="mdi-file-cancel-outline"
                  @click="comfirmCancel(item)"></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <confirmReceiptDialog />
    <confirmReturnDialogVue />
  </div>
</template>

<style scoped></style>
