<script setup lang="ts">
import { useResidentStore } from '@/stores/resident'
import { useHouseStore } from '@/stores/house'
import { onMounted, ref } from 'vue'
import Resident from '@/types/Resident'
import createDialog from '@/components/resident/createDialog.vue'
import editDialog from '@/components/resident/editDialog.vue'
import deleteDialog from '@/components/resident/deleteDialog.vue'
import router from '@/router'
import House from '@/types/House'

const residentStore = useResidentStore()
const houseStore = useHouseStore()
const houses = ref<House[]>([])
onMounted(async () => {
  await residentStore.getResidents()
  await houseStore.getHouses()
  const houseList = houseStore.houses
  // console.log(houseList)
  for (const h of houseList) {
    if (h.resident === null) {
      houses.value.push(h)
    }
  }
  // console.log(houses.value)
})

const showEditDialog = (resident: Resident) => {
  residentStore.editResident(resident)
}

const showDeleteDialog = (id: number) => {
  residentStore.deleteDialog = true
  residentStore.deleteId = id
}

const toResidentHome = (id: number) => {
  router.push('resident/' + id)
}
</script>

<template>
  <div class="home">
    <v-card class="text-center bg-green-lighten-1 pa-5" style="border-radius: 0%" variant="text">
      <h2 style="color: darkslategrey; font-size: 2em">ข้อมูลลูกบ้าน</h2>
    </v-card>
    <div style="margin-left: 9%; margin-right: 10%; margin-top: 1%">
      <v-row>
        <v-btn
          color="green"
          @click="residentStore.createDialog = true"
          variant="flat"
          style="
            font-size: larger;
            padding-top: 1%;
            padding-bottom: 3%;
            margin-left: 81.7%;
            margin-top: 1%;
          "
          >เพิ่มข้อมูลลูกบ้าน</v-btn
        >
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-table
            fixed-header
            height="70vh"
            style="
              text-align: center;
              width: 100%;
              border-radius: 10px;
              overflow-y: auto;
              margin-bottom: 3%;
            "
          >
            <thead class="bg-yellow-darken-3">
              <tr>
                <th class="bg-yellow-darken-3" style="text-align: center"></th>
                <!-- <th class="bg-yellow-darken-3" style="text-align: center">ID</th> -->
                <th class="bg-yellow-darken-3" style="text-align: center">ชื่อ-นามสกุล</th>
                <th class="bg-yellow-darken-3" style="text-align: center">เบอร์โทรศัพท์</th>
                <th class="bg-yellow-darken-3" style="text-align: center">Email</th>
                <th class="bg-yellow-darken-3" style="text-align: center"></th>
              </tr>
            </thead>
            <tbody v-if="residentStore.residents.length == 0">
              <td></td>
              <td></td>
              <td></td>
              <td style="font-size: 150%; padding-top: 18%; text-align: start">No Data</td>
              <td></td>
              <td></td>
            </tbody>
            <tbody v-else>
              <tr v-for="item of residentStore.residents" :key="item.id">
                <td></td>
                <!-- <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.id }}
                </td> -->
                <td
                  style="padding-top: 10px; padding-bottom: 10px"
                  @click="toResidentHome(item.id)"
                >
                  {{ item.name }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.phone }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  {{ item.email }}
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px">
                  <v-btn
                    class="ma-1"
                    color="teal-lighten-1"
                    icon="mdi-pencil"
                    variant="outlined"
                    @click="showEditDialog(item)"
                  ></v-btn>
                  <v-btn
                    class="ma-1"
                    color="red"
                    icon="mdi-delete"
                    variant="outlined"
                    @click="showDeleteDialog(item.id)"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </div>
    <createDialog />
    <editDialog />
    <deleteDialog />
  </div>
</template>

<style scoped></style>
