<script setup lang="ts">
import { useJuristicStore } from '@/stores/juristic'
import { useReceiptStore } from '@/stores/receipt'
// import { ref } from 'vue';
import { onMounted } from 'vue'

const ReceiptStore = useReceiptStore()
const juristicStore = useJuristicStore()
// const img = ref('')
onMounted(async () => {
  await juristicStore.getJuristics()
  await ReceiptStore.getReceipts()
  // img.value = await ReceiptStore.selectReceipt.billImg
  // console.log(img.value)
  // const user = localStorage.getItem('user')
})
</script>

<template>
  <v-row>
    <v-dialog
      v-model="ReceiptStore.confirmReceiptDialog"
      persistent
      max-width="500"
      max-height="1000"
    >
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%"> ยืนยันใบเสร็จชำระเงิน </v-card-title>
        <v-divider style="margin-bottom: 3%"></v-divider>
        <center>
          <v-img :width="350" aspect-ratio="3/4" :src="ReceiptStore.selectReceipt.billImg"></v-img>
        </center>
        <small style="color: red; margin-top: 3%; text-align: center"
          >*เมื่อคุณยืนยันการชำระเงิน ระบบจะส่งใบเสร็จชำระเงินให้ลูกบ้าน</small
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="ReceiptStore.confirmReceiptDialog = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="ReceiptStore.confirm()"> ยืนยัน </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
