<script setup lang="ts">
import { useJuristicStore } from '@/stores/juristic'
import { useReceiptStore } from '@/stores/receipt'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

const JuristicStore = useJuristicStore()
const ReceiptStore = useReceiptStore()

onMounted(async () => {
  await JuristicStore.getJuristics()
  await ReceiptStore.getReceipts()
})
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="ReceiptStore.confirmReturnDialog" persistent max-width="450">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%">
          ยืนยันการยกเลิกใบเสร็จชำระเงิน
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form ref="form">
            <v-container>คุณแน่ใจหรือไม่ที่ต้องการยกเลิกใบเสร็จชำระเงิน</v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="ReceiptStore.confirmReturnDialog = false"
          >
            ไม่
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="ReceiptStore.deleteReceipt">
            ใช่
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
