<script setup lang="ts">
import { ref } from 'vue'
import { useJuristicStore } from '@/stores/juristic'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

const juristicStore = useJuristicStore()
const role = ref(['ผู้ดูแล', 'เจ้าหน้าที่นิติบุคคล'])
const form = ref<VForm | null>(null)
onMounted(async () => {
  await juristicStore.getJuristics()
  juristicStore.editedJuristic.role = 2
})

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    await juristicStore.saveJuristic()
  }
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="juristicStore.createDialog" persistent max-width="500">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%"> เพิ่มข้อมูลนิติบุคคล </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field label="ชื่อ-นามสกุล*" v-model="juristicStore.editedJuristic.name" :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล ชื่อ-นามสกุล',
                    (v) => v.length >= 3 || 'ชื่อ-นามสกุล ต้องมากกว่าหรือเท่ากับ 3 ตัวอักษร'
                  ]" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Email*" v-model="juristicStore.editedJuristic.email" type="email" :rules="[(v) => !!v || 'กรุณากรอกข้อมูล Email',
                  (v) => /(?=.*[@])/.test(v) ||'กรุณากรอกข้อมูล Email ให้ถูกต้อง เช่น user@gmail.com',
                  (v) => /(?=.*[.])/.test(v) ||'กรุณากรอกข้อมูล Email ให้ถูกต้อง เช่น user@gmail.com',
                  ]" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="ที่อยู่ปัจจุบัน*" v-model="juristicStore.editedJuristic.address"
                    :rules="[(v) => !!v || 'กรุณากรอกข้อมูลที่อยู่ปัจจุบัน']" required></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field label="เบอร์โทรศัพท์*" v-model="juristicStore.editedJuristic.phone" :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูลเบอร์โทรศัพท์',
                    (v) => /(?=.*\d)/.test(v) ||'กรุณากรอกข้อมูลเป็นตัวเลข',
                    (v) => v.length == 10 || 'เบอร์โทรศัพท์ต้องมี 10 ตัวอักษร',
                  ]" required></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-combobox v-model="juristicStore.role" variant="outlined" label="บทบาท:" :items="role"
                    style="font-size: 120%; width: 100%"></v-combobox>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small style="color: red">*email และเบอร์โทรศัพท์จะเป็น username password เพื่อเข้าสู่ระบบ <br />
            **สามารถเปลี่ยนได้ Account เมื่อล็อกอินเข้าสู่ระบบ</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="juristicStore.clear"> ยกเลิก </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> บันทึก </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
