<script setup lang="ts">
import { useJuristicStore } from '@/stores/juristic'
import { onMounted } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

const juristicStore = useJuristicStore()

onMounted(async () => {
  // console.log(await juristicStore.selectedJuristic(juristicStore.deleteId))
})
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="juristicStore.deleteDialog" persistent max-width="450">
      <v-card style="font-family: Prompt">
        <v-card-title style="margin-top: 2%; font-size: 150%">
          ยืนยันการลบข้อมูนิติบุคคล
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form ref="form">
            <v-container>คุณแน่ใจหรือไม่ที่ต้องการลบข้อมูลพนักงานนิติบุคคล</v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="juristicStore.deleteDialog = false">
            ยกเลิก
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="juristicStore.deleteJuristic">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
