<script setup lang="ts">
import MainLayout from './views/Layout/MainLayout.vue'
import FullLayout from './views/Layout/FullLayout.vue'
</script>

<template>
  <component :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"></component>
</template>
